/*class for entire grid*/
.grid {
	margin: 2em;
	max-width: 100%;
	width: 100%;
}
/*class for entire header*/
.top-line {
	border-bottom: solid #bcbbbb;
}
/*class for header text*/
.signature {
	text-align: right;
	color: #00F;
    font-style: italic;
}
/*class for portfolio center image*/
.center-image {
	text-align: center;
	margin: auto;
	width: 100%;
	max-height: 400px;
}
h2 {
	font-size: 20px;
	color: #5D89BA;
}
h3{
	font-style: italic;
}
/* class for featured work data */
.featured-work-data {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}
/*class for each project images*/
.project-image{
	height: 200px;
	border-radius: 10%;
}

/*class for my profile picture*/
.Shotonwa-s {
	width: 100%;
	margin: auto;
	max-height: 300%;
	border-radius: 50%;
}
/* we'll need to make a column class for every column;12 column*/
.col-1{
	width: 8.33%;
}
/*Each column expands by 8.33% */
.col-2{
width: 16.66%;
}
.col-3{
width: 25%;
}
.col-4{
width: 33.33%;
}
.col-5{
width: 41.66%;
}
.col-6{
width: 50%;
}
.col-7{
width: 58.33%;
}
.col-8{
width: 66.66%;
}
.col-9{
width: 75%;
}
.col-10{
width: 83.33%;
}
.col-11{
width: 91.66%;
}
.col-12{
width: 100%;
}
/************ footer ***********/
.footer{
	background-color: black;
	height: 630px;
	margin: auto;
}
.infomation{
	margin-left: 20px;
	margin-top: 2em;
}
.space{
	padding: 1em;
}
/*class for credit */
.credit{
	text-align: right;
	margin-right: 50px;
	color: #FFF;
}
/*class for right */
.copyright{
	text-align: center;
	color: #fff;

}

/*****   Media Quaries  *****/
@media screen and (min-width: 500px) {
.center-image{ height: 400px;}
}